{% block stylesheets %}
	<style>

		footer p a {
			text-decoration: none;
		}
	</style>
{% endblock %}

<div>
	<footer class="py-3 my-1">
		<p class="text-center text-muted">&copy;
			<a class="link-dark" href="#" draggable="false">{{ project.name }}</a>
			&middot;
			{{ 'now'|date('YYYY') }}</p>
	</footer>
</div>
