
<style>

   footer p a {
    text-decoration: none;
   }

</style>

<div>
    <footer class="py-3 my-1">
         <p class="text-center text-muted">&copy; <a href="#" draggable="false">{{ project.name }} SARL</a> &middot; {{ 'now'|date('Y') }}</p>
    </footer>
</div>