<div class="modal fade text-start" id="editFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Editer un fichier</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="" method="post" id="editFileForm">
				<div class="modal-body">
					<input type="hidden" name="_action" value="editFichier">
					<input type="hidden" id="editFileId" name="fileId">
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Nom du fichier</label>
						<input type="text" class="form-control" name="libelle_fichier" id="editFileName" placeholder="Entrer le nom du fichier">
					</div>
					<div class="mb-3">
						<label class="form-label">Statut</label>
						<select name="statut_fichier" id="editFileStatut" class="form-control">
							{% for statut in statuts %}
								<option value="{{ statut.value }}">{{ statut.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="mb-3">
						<input type="hidden" id="edit-file_tags" name="motsClesFichier" class="edit-file-tags-input" mapped="mapped">
						<label for="editFileKeywordsContainer" class="form-label">Mots-clés
							<span class="fst-italic">(optionnel)</span>
						</label>
						<div id="editFileKeywordsContainer" class="keywords-input rounded-2">
							<input type="text" id="editFileKeywordsInput" placeholder="Ajouter des mots-clés"/>
						</div>
					</div>
				</div>
				<div class="row modal-footer">
					<div class="col" style="align-items:center">
						<button type="button" style="display:flex;width:100%;justify-content:center" id="" class="btn btn-light mb-2" data-bs-dismiss="modal">Annuler</button>
					</div>
					<div class="col" style="align-items:center">
						<button type="submit" style="display:flex;width:100%;justify-content:center" formnovalidate id="" class="btn btn-dark mb-2">Enregistrer les modifications</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
