<div class="modal fade text-start" id="previewFile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content" id="modal-content-file">
			<div class="modal-header">
			<h5 class="modal-title" id="previewTitle"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div>
				<div id="filePreviewContent" class="modal-body" style="display:flex;justify-content:center;align-items:center;overflow:hidden;"></div>
			</div>
		</div>
	</div>
</div>
