<div class="modal fade text-start" id="agreeRequest" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="card-header-title" style="font-size:15px">Approbation de la demande</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="" method="post" id="agreeReqForm" style="overflow-x:hidden;overflow-y:auto">
				<div class="modal-body">
					<input type="hidden" name="_action" value="agree"/>
					<input type="hidden" id="agreeReqId" name="reqId"/>
					<input type="hidden" id="agreeNotifId" name="notifId"/>
					<div class="mb-3">
						<label class="form-label">Durée d'accès (en heures)</label>
						<select id="duration" name="duration" class="form-control">
							<option value="4320">6 mois</option>
							<option value="8760">1 an</option>
						</select>
					</div>
				</div>
				<div class="row modal-footer">
					<div class="col" style="align-items:center">
						<button type="button" style="display:flex;width:100%;justify-content:center" id="" class="btn btn-light mb-2" data-bs-dismiss="modal">Annuler</button>
					</div>
					<div class="col" style="align-items:center">
						<button type="submit" style="display:flex;width:100%;justify-content:center" id="" class="btn btn-success mb-2">Approuver</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
