<div class="modal fade text-start" id="deleteFolder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
		<div class="modal-content genie-effect">
			<div class="modal-header">
				<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Supprimer un dossier</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="post">
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Voulez-vous vraiment supprimer le dossier "Dossier Archives Exemple 1" ?</label>
					</div>
				</form>
			</div>
			<div class="row modal-footer">
				<div class="col" style="align-items:center">
					<button type="button" style="display:flex;width:100%;justify-content:center" id="" class="btn btn-light mb-2" data-bs-dismiss="modal">Annuler</button>
				</div>
				<div class="col" style="align-items:center">
					<button type="button" style="display:flex;width:100%;justify-content:center" id="" class="btn btn-danger mb-2">Supprimer</button>
				</div>
			</div>
		</div>
	</div>
</div>
