<div class="modal fade text-start" id="editFolder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
		<div class="modal-content genie-effect">
			<div class="modal-header">
				<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Modifier un dossier</h6>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="post">
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">Nom du dossier</label>
						<input type="text" readonly class="form-control" id="exampleFormControlInput1" value="Dossier Archives Exemple 1">
					</div>
					<div class="mb-3">
						<label for="exampleFormControlSelect1" class="form-label">Format</label>
						<select name="" id="exampleFormControlSelect1" class="form-control">
							<option value="">--Choisir--</option>
							<option value="">Physique</option>
							<option value="">Numérique</option>
							<option value="">Mixte</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="exampleFormControlSelect1" class="form-label">Département</label>
						<select name="" id="exampleFormControlSelect1" class="form-control">
							<option value="">--Choisir--</option>
							<option value="">Comptabilité</option>
							<option value="">Informatique</option>
							<option value="">Ressources Humaines</option>
						</select>
					</div>
					<div class="mb-3">
						<label class="form-label" for="typeNumber">Date de production</label>
						<input value="" type="date" id="dateCreation" class="form-control" style="padding-right:7px"/>
					</div>
				</form>
			</div>
			<div class="row modal-footer">
				<div class="col" style="align-items:center">
					<button type="button" style="display:flex;width:100%;justify-content:center" id="" class="btn btn-light mb-2" data-bs-dismiss="modal">Annuler</button>
				</div>
				<div class="col" style="align-items:center">
					<button type="button" style="display:flex;width:100%;justify-content:center" id="" class="btn btn-success mb-2">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>
</div>
